ipykernel
requests

dotenv
langchain
langchain-community
tiktoken
rapidocr-onnxruntime

langchain_google_genai
faiss-cpu

weaviate-client
pypdf
langchain-weaviate
langchain-huggingface
sentence-transformers
huggingface_hub

llama-index
llama-index-llms-huggingface
llama-index-embeddings-huggingface
nbconvert

haystack-ai
datasets